body {
  font-family: var(--font-sans);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: #f9f9f9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
